.App {
  height: 100vh;
  overflow-y: auto;
  background-image: url("keyboard-498396_1920.jpg");
  background-repeat: no-repeat;
  background-position: left bottom fixed;
}

.content {
  display: flex;
  flex-direction: column;
  height: 65%;
  justify-content: flex-end;
  align-items: center;
}

.wrapper {
  display: flex;
  align-self: flex-end;
  margin: 0 auto;
  flex-wrap: wrap;
  padding: 0 30px;
}

.description {
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}

@media (min-width: 1180px) {
  .wrapper {
    margin: 0;
    justify-content: center;
  }
  .description {
    text-align: right;
  }
}

.inputWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin: 50px auto;
  padding: 25px;
  width: 75%;
}

.responseWrapper {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  flex-wrap: scroll;
  background-color: white;
  padding: 20px;
  padding-left: 30px;
}

.responseHeader h3 {
  margin: 0;
  padding-top: 5px;
}
.tones {
  display: flex;
  flex-direction: column;
}

.toneWrapper {
  display: flex;
  flex-direction: column;
}

.sentencesWrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 10px;
}

.sentence {
  align-self: left;
}
.sentence p {
  display: flex;
  align-self: right;
  flex-wrap: wrap;
  margin: 0;
}

.inputHeader {
  background-color: whitesmoke;
  opacity: 0.7;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 0;
  margin: 0;
}
/* p {
  font-size: 24px;
  padding: 10px;
  margin: 0;
  text-transform: uppercase;
} */

/* .user-input {
  flex: 1;
  position: relative;
  resize: none;
  border-radius: 7px;
  flex-wrap: wrap;
  overflow-y: scroll;
  font-size: 24px;
  padding: 20px 25px;
  position: relative;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
  padding: 10px;
  background: white;
  border: none;
} */
