.App {
  height: 100vh;
  width: 100vw;
}

.content {
  flex: 1;
  height: 85vh;
}

.user-input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 66%;
  margin: 0 auto;
  padding-top: 50px;
}

.user-input {
  width: 100%;
  resize: none;
  border-radius: 3px;
  flex-wrap: wrap;
  overflow-y: scroll;
  font-size: 24px;
  padding: 20px 25px;
}
