.inputWrapper {
  display: flex;
  flex-direction: column;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  padding: 0;
}

.btn {
  position: absolute;
  top: 25px;
  border: none;
  height: 40px;
  background-color: transparent;
  align-self: flex-end;
  width: 100px;
  z-index: 100;
  margin-right: 50px;
  text-transform: uppercase;
  outline-color: none;
  /* background-color: rgba(15, 242, 201, 0.3); */
}

.btn span {
  margin-left: 10px;
  font-size: 12px;
  font-weight: 700;
}

.btn:hover {
  background-color: rgba(15, 242, 201, 1);
}

.textarea {
  flex: 1;
  position: relative;
  resize: none;
  border-radius: 3px;
  flex-wrap: wrap;
  overflow-y: scroll;
  font-size: 18px;
  line-height: 1.5em;
  padding: 50px 25px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
  background-color: white;
  border: none;
  border-radius: 7px;
  outline-color: #f2ae30;
  /* margin: 0; */
}
